:root {
    --dark-blue: #102937;
    --dark-green: #124d54;
    --good-orange: #f9744b;
    --yelloish: #e1d9cf;
    --blackish: #091d26;
    --really-green: #094044;
    --dark-orange: #d84f2a;
    --dark-yellowish: #d6c4b0;
    --whitish: #ede6df;
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--dark-yellowish);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background-color: var(--whitish);
    width: 70%;
    min-width: 600px;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    padding: 40px;
    align-items: center;
}



h1, h2, h3 {
    margin: 10px;
}

p {
    margin: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.difficulty-level-m{
    color: orange;
}


.difficulty-level-e{
    color: green;
}


.difficulty-level-h{
    color: red;
}

a {
    text-decoration: none;
    color: var(--blackish);
}

.quiz-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px; /* Add margin to the quiz list */
}

.quiz-item {
    border: 1px solid var(--whitish);
    padding: 20px;
    margin: 10px; /* Add margin to individual quiz items */
    border-radius: 1rem;
    width: 300px;
    text-align: center;
    background-color: var(--yelloish);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.quiz-specification{
    display: flex;
    /* flex-direction: column; */
    align-items: baseline;
}

.quiz-title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid var(--yelloish);
}

.quiz-description {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}

.quiz-item:hover {
    background-color: var(--whitish); /* Adjust background color on hover */
    cursor: pointer;
}

.quiz-details-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1.5rem;
    min-width: 300px;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    p{
        margin-top: 0;
    }
}

.take-quiz-btn {
    background-color: #333;
    color: #f0f0f0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#take-quiz-btn-div{
    display: flex;
    justify-content: end;
}

.take-quiz-btn:hover{
    background-color: #666;
    color: #fff;
}

.quit-quiz-btn {
    background-color: #ff0000dc;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-inline: 1rem;
}

#quit-quiz-btn-div{
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    
}

.quit-quiz-btn:hover{
    background-color: #ff4747cb;
    color: #fff;
}


.overlay-dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 999;
}

.hidden {
  display: none;
}

.progress-bar-container {
  width: 400px;
  height: 6px;
  background-color: #ffffff;
}

.progress-bar {
  height: 6px;
  background-color: #f13f3f;
  width: 0%; /* Initially, the progress bar is empty */
}

#question-paper {
    margin-top: 1rem;
}

.center-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#options{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.option{
    background-color: #ffda94b7;
    padding: 12px;
    margin-top: 0;
    border-radius: 10px;

    width: 120px;
    height: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.option:hover{
    background-color: var(--good-orange);
    color: white;
    cursor: pointer;
}

.option.selected {
  background-color: #81ff767e;
}


#curr-question-text {
    font-size: 24px;
    color: #414141;
    margin: 2rem;
}

.submit-quiz-btn {
    background-color: #33ab5f;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-inline: 1rem;
}

.submit-quiz-btn:hover{
    background-color: #33ab5fce;
    color: #ffffff;
}