:root {
    --primary-color: #4285F4;
    --secondary-color: #f48542;
    --text-color: #333;
    --background-color: #f0f0f0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1, h2, h3 {
    text-align: center;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

.quiz-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px; /* Add margin to the quiz list */
}

.quiz-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px; /* Add margin to individual quiz items */
    width: 300px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.quiz-title {
    font-size: 18px;
    font-weight: bold;
}

.quiz-description {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.quiz-item:hover {
    background-color: #f0f0f0; /* Adjust background color on hover */
    cursor: pointer;
}

.quiz-details-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.take-quiz-button {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; /* Align to the right */
}


