{% extends 'basic/base.html' %}
{% load static %}

{% block title %}{{quiz.title}}{% endblock %}

{% block body %}
    <div class="quiz-details-container">
        <h1 class='quiz-title'>{{ quiz.title }}</h1>
        <p class='quiz-description'>{{ quiz.description }}</p>
        
        <div class='quiz-specification'>
        <small><span>
            <p>
                <strong>Updated:</strong> {{ quiz.created_at }} <br>
                <strong>{{ quiz.category | title }}</strong> &middot;
                <strong class='difficulty-level-{{ quiz.difficulty_level | first }}'>{{ quiz.difficulty_level | title | first }}</strong> &middot;
                <strong>{{ quiz.time_limit }} min</strong> &middot;
                <strong>{{ num_ques }} Q</strong>
            </p>
        </span></small>
    </div>

    <div id='take-quiz-btn-div'>
        <a href="{% url 'basic:take_quiz' quiz.id %}" class="take-quiz-btn">Take Quiz</a>
    </div>

{% endblock %}
